    <section id="contact" class="contact bg-primary">
        <div class="container">
            <div ><h2 id="social_copy">We happy to get new friends!</h2></div>
            <ul class="list-inline list-social">
                <li class="social-twitter">
                    <a target="_blank" href="http://www.twitter.com" id="twitter_link"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="social-facebook">
                    <a target="_blank" href="http://www.facebook.com" id="facebook_link"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="social-google-plus">
                    <a target="_blank" href="http://www.github.com" id="github_link"><i class="fa fa-github"></i></a>
                </li>
            </ul>
        </div>
    </section>    