<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading" id="second_headline">Discover what all the buzz is about!</h2>
                <p id="second_subheadline">Our app is available on any mobile device! Download now to get started!</p>
                <div class="badges">
                    <a class="badge-link" target="_blank" id="google_play_link"><img src="img/google-play-badge.svg" alt=""></a>
                    <a class="badge-link" target="_blank" id="apple_store_link"><img src="img/app-store-badge.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>