<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2 id="third_headline">Unlimited Features, Unlimited Fun</h2>
                    <p class="text-muted" id="third_subheadline">Check out what you can do with this app theme!</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <img id="screenshot_url" class="img-responsive" alt="" src="img/some-screenshot-1.jpg"> </div>
                            <div class="button">
                                <!-- "landing-page button" to some JavaScript events -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-screen-smartphone text-primary"></i>
                                <h3 id="title1">Device Mockups</h3>
                                <p class="text-muted" id="content1">Ready to use HTML/CSS device mockups, no Photoshop required!</p>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-camera text-primary"></i>
                                <h3 id="title2">Flexible Use</h3>
                                <p class="text-muted" id="content2">Put an image, video, animation, or anything else in the screen!</p>
                            </div>
                        </div>
                            <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-present text-primary"></i>
                                <h3 id="title3">Free to Use</h3>
                                <p class="text-muted" id="content3">As always, this theme is free to download and use for any purpose!</p>
                            </div>
                        </div>
                            <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-lock-open text-primary"></i>
                                <h3 id="title4">Open Source</h3>
                                <p class="text-muted" id="content4">Since this theme is MIT licensed, you can use it commercially!</p>
                            </div>
                        </div>
                           
                    </div>
                </div>
            </div>
        </div>
</section>