    <header style="background-image: url(img/bg-pattern.png),linear-gradient(to left,#3494E6,#EC6EAD)">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1 id="main_headline">This application will help you with your business!</h1>
                            <a href="#download" class="btn btn-outline btn-xl page-scroll" id="button_cta">Start Now for Free!</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <img src="img/some-screenshot-1.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="button">
                                  <!-- "landing-page button" to some JavaScript events -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>